// Navigation code here
.navigation{
    height: 27rem;
    h1{
        font-size: 4rem;
    }
    
    nav{
        font-size: 1.5rem;
        width: 30%;
        a{
            text-decoration: none;
            color: black;
        }
        .flexin(row, space-evenly, center)      
    }
    .flexin(column, space-between, center);
}